/* Variables */
:root {
    --primary-color: #2be4cb;
    --secondary-color: #b888f0;
    --background-color: #fafefe;
    --icon-bg-color: #dd4ee9;
    --text-color: #031817;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: transparent;
    color: transparent;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

/* Section */
section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
}

section h2, section p {
    text-align: center;
    color: var(--primary-color);
}

section h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

section p {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.6;
}

/* Features */
.features {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
    text-align: center;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.feature-item {
    width: 20%;
}

.feature-item .icon {
    background-color: #00274d;
    color: white;
    font-size: 40px;
    border: 2px dashed #3d8bbf;
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.feature-item h3 {
    font-size: 18px;
    font-weight: bold;
    color: #67a3e0;
    margin-bottom: 10px;
}

.feattt p {
    font-size: 16px;
    color: #3c3030;
    line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }
    .feature-item {
        width: 80%;
        margin-bottom: 30px;
    }
}

/* Time Display */
#time {
    font-size: 18px;
    color: #333;
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
}